<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/style-bantuan.css"> <!-- Menghubungkan dengan CSS baru -->
    <title>Bantuan</title>
</head>
<body>
    {{>header}} <!-- Menyertakan header -->
    <div class="background-image"></div>
    <div class="main-content">
        <div class="content-section">
            <p><b>Halaman ini untuk apa sih?</b> Halaman ini digunakan sebagai panduan bagi pengguna untuk memahami fitur-fitur dan istilah yang ada dalam aplikasi ini. FAQ ini memberikan jawaban atas pertanyaan yang sering diajukan tentang penggunaan aplikasi, sehingga memudahkan pengguna untuk mendapatkan informasi tanpa harus mencari bantuan tambahan.</p>
            <p><b>Apa itu API?</b> API atau Application Programming Interface merupakan antarmuka yang memungkinkan dua aplikasi atau layanan untuk saling berkomunikasi dan bertukar data. API menyediakan cara standar bagi aplikasi untuk meminta dan menerima informasi tanpa harus mengerti detail internal dari aplikasi lain.</p>
            <p><b>API apa yang digunakan dalam aplikasi ini?</b> Aplikasi ini menggunakan API RESTful, yang memungkinkan aplikasi berinteraksi dengan server melalui permintaan HTTP. RESTful API sangat cocok untuk aplikasi berbasis web karena mendukung berbagai metode HTTP seperti GET, POST, PUT, dan DELETE, yang memudahkan pengelolaan data antar server dan klien.</p>
            <p><b>Salah satu pola arsitektur API adalah RESTful</b> adalah pola arsitektur API yang populer, terutama digunakan untuk aplikasi web. REST (Representational State Transfer) memanfaatkan metode HTTP standar dan protokol stateless, yang berarti setiap permintaan harus mencakup semua informasi yang diperlukan untuk diproses, tanpa mengandalkan status sesi yang tersimpan di server. RESTful API sederhana dan skalabel, membuatnya ideal untuk aplikasi yang memerlukan akses cepat dan efisien ke data.</p>
            <img src="/img/restful.jpg" alt="Deskripsi Gambar" class="image-card">
        </div>
    </div>
    <script src="/js/app.js"></script>
    {{>footer}} <p> Shahidul Farid </p> <!-- Menyertakan footer -->
</body>
</html>