<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-berita.css">

</head>
<body>
    <header>    
        <h5> {{>header}}</h5>
    </header>

    <main class="main-content">
        {{#each articles}}
            <article class="berita-card">
                <h2 class="berita-title"><a href="{{this.url}}" target="_blank">{{this.title}}</a></h2>
                <p class="berita-category">{{this.category}}</p> <!-- Menampilkan kategori jika tersedia -->
                <p class="berita-description">{{this.description}}</p>
            </article>
        {{/each}}
    </main>

    <footer>
        <p>&copy; 2024 Aplikasi Berita dan Cuaca</p>
    </footer>
</body>
</html>